
/* Modal form */

.smFont {
  font-size: var(--body-font-size);
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  --radius:10px;
  position: relative;
  width: 100%;
  max-width: 500px;
  height:auto;
  margin: 5% auto;
  color: var(--white-color);
  background: var(--darken-color);
  border-radius: var(--radius);
  overflow: hidden;
  animation-name: modalopening;
  animation-duration: var(--modal-duration);
}

.modal-body {
  min-height:var(--height);
  height:auto;
  margin: 15px auto;
  padding: 15px 8%;
}

.modal-form{
  transition: var(--regular-transition);
}

/* When the form is OK go to Panel 2 */
.modal-form.off {
  display:none;
  visibility: hidden;
}
.modal-form.sucess{
  animation:modal-effects-top 1.1s ease-in-out forwards;
}

label {
  display: inline-block;
  margin-bottom: 11px;
  font-family: var(--font-default);
  font-size: .875rem;
  font-weight: var(--weight-reg);
}

input {
  --input-height:50px;
  padding: 8px;
  font-size:1.25rem;
  color:var(--black-color);
  border: 0.8px solid var(--grey-color);
  outline: 2px solid transparent;
  transition: var(--regular-transition);
}

input:invalid{
  outline-color: var(--primary-color);
}

input:valid {
  background:var(--black-color);
  color:var(--white-color);
}

.text-control {
  width: 100%;
  height: var(--input-height);
  margin: 0;
  padding: 8px;
  border-radius: var(--radius);
  font-size: 1.25rem;
}


.formData[data-error]::after {
  content: attr(data-error);
  display: block;
  margin-block: 7px;
  font-size: 0.4em;
  color: var(--error-color);
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid var(--error-color);
}

input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} 

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  --sizes:20px;
  display: block;
  width: var(--sizes);
  height: var(--sizes);
  border: 2px solid var(--success-color);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}
.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  --sizes:13px;
  content: "";
  width: var(--sizes);
  height: var(--sizes);
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: var(--success-color);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: var(--success-color);
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: var(--white-color);
  border-left-color: var(--white-color);
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close-cross {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  transition: var(--regular-transition);
}


.close-cross:before,
.close-cross:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: var(--white-color);
}

.close-cross:before {
  transform: rotate(45deg);
}

.close-cross:after {
  transform: rotate(-45deg);
}

.close-cross.hit::before,
.close-cross.hit::after{
  transform: rotate3d(2turn);
}


input[type=submit],
.btn-submit,
.btn-signup {
  display: block;
  margin: 1rem auto;
  padding: 10px 30px;
  border-radius: var(--radius);
  font-size: 1rem;
  color: var(--white-color);
  background: var(--primary-color);
  transition: var(--regular-transition);
  cursor: pointer;
  border: 0;
}

input[type=submit]:hover,
.btn-submit:hover{
  background: var(--third-color);
}

/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}
.select-selected {
  background-color: var(--white-color);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: var(--black-color);
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--white-color);
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: .85rem;
}

/* 2nd Panel On Modal */
.modal-message{
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-message.on{
  display:flex;
  animation:modal-effects-bottom 1.1s ease-in-out forwards;
}

.modal-message > p {
  font-size:2rem;
  color:var(--white-color);
  text-align: center;
  line-height: 2rem;
}

.btn-close {
}