/* Import Component */
@import url(./modal.css);
@import url(./keyframes.css);

:root {
  /* color */
  --primary-color:#FE142F;
  --third-color:#3876ac;
  --black-color:#000;
  --white-color:#FFF;
  --darken-color:#232323;
  --grey-color:#CCC;
  --error-color:#e54858;
  --debeug-color:tomato;
  --success-color:#279e7a;

  /* fonts */
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --body-font-family:var(--font-default);
    --body-font-size:1rem;
    --alternate-font-family:"Robot",sans-serif;
    --alternate-font-size:1rem;
    --weight-reg:400;
    --weight-med:500;
    --weight-bold:600;
    --weight-light:300;

    /* others */
    --radius:8px;
    --regular-transition:all.25s ease-in-out;
    --modal-duration: 0.8s;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Landing Page */
  body {
    --skeleton:1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-default);
    font-size: 18px;
  }

  .skeleton {
    max-width:var(--skeleton);
  }
  
  p {
    margin-bottom: 0;
    padding: 0.5vw;
  }
  
  img {
    display:block;
    max-width:100%;
  }


   /* HEADER */
  .topnav {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    overflow: hidden;
  }

  .header-logo {
    
  }

  .main-navbar {
      display: flex;
  }

  .topnav a {
    --radius:8px;
    /* float: left;
    display: block;*/
    margin: 5px; 
    padding: 12px;
    font-size: 1.1rem;
    color: var(--black-color);
    text-align: center;
    text-decoration: none;
    border-radius:var(--radius);
    transition: var(--regular-transition);
  }
  
  .topnav a:hover,
  .topnav a.active {
    color: var(--white-color);
    background-color: var(--primary-color);
    text-decoration: underline;
  }
  
  .topnav .icon {
    display: none;
  }
  


  /* CONTENT */
  main {
    padding-top: 0.5vw;
    font-size: 130%;
    font-weight: bolder;
    color: var(--black-color);
    text-align: justify;
  }
  
  
 /* HERO */
.hero-section {
    --op:.2;
    max-height: 650px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, var(--op));
    border-radius: var(--radius);
  }

  .hero-content {
    position: relative;
    min-width: 424px;
    grid-column: span 4;
    padding: 51px 67px;
    background: var(--darken-color);
    color: var(--white-color);
    text-align: left;
  }


  .hero-content::after {
    --full:100%;
    content: "";
    width: var(--full);
    height: var(--full);
    position: absolute;
    right: -80px;
    top: 0;
    background: var(--darken-color);
  }

  .hero-content > * {
    position: relative;
    z-index: 1;
  }

  .hero-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;
  }

  .hero-text {
    width: 146%;
    margin-top: 57px;
    padding: 0;
    font-weight: normal;
  }

  .hero-img {
    grid-column: span 8;
  }

  .hero-img img {
    --full:100%;
    width: var(--full);
    height: var(--full);
    padding: 0;
    border-radius:var(--radius);
    object-fit: cover;
  }

  .hero-section > .btn-signup {
    display: none;
  }


  /* BTN */
  .modal-btn {
    --radius:8px;
    display: flex;
    margin: auto;
    padding: 2em;
    padding: 0.75rem 2.5rem;
    font-size: 145%;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--radius);
    transition: var(--regular-transition);
    cursor: pointer;
  }
  
  .modal-btn:hover {
    background: var(--third-color);
  }
  
  .btn-signup {
    margin: 60px 0 0;
    padding: 10px 22px;
    outline: none;
    text-transform: capitalize;
    font-size: 1.55rem;
  }

  .button {
   --radius:15px;
    margin-top: 0.5em;
    padding: 1em;
    font-size: var(--body-font-size);
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--regular-transition);
  }
  
  .button:hover {
    background: var(--third-color);
  }

  /* Copyrights */
  .copyrights {
    color: var(--primary-color);
    padding: 1.5rem;
    font-family: var(--alternate-font-family);
    font-size: .9rem;
    font-weight: var(--weight-med);
  }
 
  /* FOOTER */
  .footer {
    align-self: flex-start;
    margin: 1.5rem 10vw;
    font-family: var(--font-slab);
  }

  

  /* RESPONSIVE */

  @media screen and (max-width: 800px) {

    .hero-section {
      display: block;
      box-shadow: unset;
    }

    .hero-content {
      padding: 20px;
      color: var(--black-color);
      background: var(--white-color);
    }

    .hero-content::after {
      content: unset;
    }

    .hero-content .btn-signup {
      display: none;
    }

    .hero-headline {
      /* font-size: 4.5rem; */
      white-space: normal;
    }

    .hero-text {
      width: unset;
      font-size: 1.5rem;
    }

    .hero-img img {
      --radius:10px;
      margin-top: 40px;
    }

    .hero-section > .btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }

    .copyrights {
      margin-top: 50px;
      text-align: center;
    }
  }

  @media screen and (max-width: 768px) {

    
    body{
      --skeleton:85%;
    }

    .header-logo img {
        max-width:55%;
      }

    .topnav {
      margin: 2rem 0;
      align-items: center;
    }

    .topnav a {
      display: none;
      color:var(--primary-color);
      font-size:1.5rem;
    }

    .topnav a.icon {
      display: block;
    }

    .topnav.responsive {
      position: relative;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      padding:0;
    }

    .hero-headline {
      font-size:2.5rem;
      font-weight: var(--weight-med);
    }

    .hero-text {
      width: fit-content;
      margin-block:.9rem;
      font-size: .95rem;
    }

    .footer {
      align-self: center;
    }


  }
  
 
  @media screen and (max-width: 540px) {

    body{
      /* --skeleton:100%; */
    }

    .topnav a {
      display: none;
    }

    .topnav a.icon {
    
    }
  } 
  
 
  

 
  
  